body {
    width: 100%;
    max-width: 1775px;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    background-color: #2e2e2e;
    color: #ffffff;
}

/*.head {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    margin: 100px;
}*/

.wrapper {
    margin: auto;
    width: 70%;
}

.top {
    text-align: center;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 1em;
    background-color: #5c737c;
}

leftbar {
    float: left;
    margin-right: 25px;
    width: 190px;
    min-height: 200px;
    background-color: #41457c;
    padding: 5px;
}

footer {
    background-color: #41457c;
    text-align: center;
    padding: 1em;
    overflow: hidden;
}

a {
    color: #ffffff;
    display: block;
    padding: 5px;
}

a:hover {
    font-weight:700;
    background-color: #2d315e;
}

form {
    margin-top: 200px;
    max-width: 170px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px
}

img {
    margin-right: 25px;
}

