body {
    background-color: #e6dada;
    color: #382a27;
    font-family: 'Comic sans', Arial, Impact;
    font-size: 14px;
}

a:hover {
    font-weight:700;
}

.ex1 {
    width: 100%;
    max-width: 900px;
    background-color: #ceb4b4;
    position: relative;
}

.text {
    margin: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px
}

.ex2 h1 {
    font-size:16px;
    border-bottom: 30px;
    color:#ff0000;
}
.head a {
    color:#00791e;
    border: #ff0000 solid 1px;
    background:#83ffa2;
}

.caption {
    font-size:12px;
    font-style: italic;
}