body {
    background-color: #e6dada;
    color: #382a27;
    font-family: 'Comic sans', Arial, Impact;
    font-size:14px;
    
}

h1 {
    font-size:16px;
    border-bottom: 30px;
    color:#ff0000;
}
.ex2 a {
    color:#00791e;
    border: #ff0000 solid 1px;
    background:#83ffa2;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px
}

.caption {
    font-size:12px;
    font-style: italic;
}